.body{
margin: 0px;
font-family: open sans;
}

.conteiner{
margin: 0px 156px;
}
.header{
background-image:url(https://avatars.mds.yandex.net/i?id=dc2bb76b8da530422b7e8d087e9e2d5b2b0e6171-10104341-images-thumbs&n=13);
height:110vh;
background-repeat: no-repeat;
background-size: cover;
}
.header_line{
padding-top: 50px;
display: flex;
align-items: center;
justify-content: space-around;
}
.nav_item{
color: white;
text-decoration: none;
font-weight: 700;
font-size: 14px;

margin-right: 25px;
transition: color 0.3s linear;
}
.nav_item:hover{
color:red;
}



.cart{
position: relative;
border-right: 1px solid #fff;
padding-right: 10px;
height: 50px;
}
.cart_img{
position: absolute;
top: 18px;
right: 8px;
}

.num{
color: #fff;
text-decoration: none;
font-weight: 700;
transition: color 0.3s linear;
}
.num:hover{
    color:red;
}
.phone_text{
font-size: 14px;
font-weight: 400;
color: #fff;
}
.phone_holder{
display: flex;
align-items: center;
}
.button{
background-color: orangered;
color: white;
text-decoration: none;
padding: 14px 18px;
font-weight: 700;
transition: background-color 0.2s linear;

}
.button:hover{
    background-color: rgb(89, 31, 10);
}
.header_down{
position: relative;
}
.header_title{
color: rgb(249, 147, 5);
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
font-weight: 400;
text-align: center;
position: absolute;
left: 0;
margin-top: 150px;
margin-bottom: 12px;

}
.header_suptitle{
color: white;
font-size: 18px;
font-family: open sans;
}
.header_suptitle:after{
position: absolute;
content: '';
height: 2px;
width: 61px;
background-color: white;
top: 127px;
left: 56px;
}
.header_suptitle:before{
position: absolute;
content: '';
height: 2px;
width: 61px;
background-color: white;
top: 127px;
left: 308px;
}
.header_button{
background-color: orangered;
padding: 14px 28px;
color: white;
font-size: 14px;
font-weight: 700;
font-family: open sans;
text-decoration: none;
transition:background-color 0.3s linear ;
}
.header_button:hover{
background-color: rgb(195, 57, 7);
}
.card_holder{
display: flex;
justify-content: center;


}
.card{
width: 310px;
box-shadow: 10px 10px 40px 20px #0000001A;
margin-right: 31px;
background-color: #fff;
margin-top: -80px;
padding: 10px 10px;
}
.card_img{
display: flex;
justify-content: center;
padding-top: 31px;
}
.card_title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
font-size: 26px;
font-weight: 400;
}
.card_title span{
color: #d67E35;
}
.card_desc{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: 400;
}
.history{
margin-top: 166px;
margin-left: 150px;
padding-bottom: 200px;

}
.history_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
text-align: center;
margin-top: 21px;

}
.history_title span{
    color: #d67E35;
}
.history_desc{
color: #656363;
font-size: 16px;
width: 444px;
text-align: center;

}
.history_number{
display: flex;
width: 444px;
justify-content: center;
margin-top: 40px;
margin-left: 30px;
}
.number_item{
margin-right: 60px;
text-align: center;
font-size: 40px;
color: #BC9060;
}
.number_item span{
display: block;
color: black;
}
.history_images{
position: relative;
}
.history_holder{
display: flex;
justify-content: space-between;

}
.imagages_1{
position: absolute;
z-index: 0;
top: -40px;
left: -550px;
}
.imagages_2{
position: absolute;
z-index: 999;
top: -90px;
left: -385px;
}
.imagages_3{
    position: absolute;
    z-index: 999;
    top: 100px;
    left: -270px;
    }
    .imagages_4{
        position: absolute;
        z-index: 999;
        top: 230px;
        left: -440px;
        }

.black_block{
background-image: url(https://avatars.mds.yandex.net/i?id=164c821e238dbb756b60d6d6d5729ecf6be4ab5d-10813564-images-thumbs&n=13);
padding: 80px 0;
}
.left_title{
color: #d57E34;
font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    font-weight: 400;

    margin-bottom: 20px;
    margin-left: 35px;
}
.left_text{
font-weight: 700;
font-size: 24px;
color: #fff;
margin-left: 30px;
}
.right_btn{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    margin-right: 200px;
}
.block_holder{
display: flex;
justify-content: space-between;
align-items: center;
}
.dishes_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center; 
    padding-top: 132px;
    margin-bottom: 139px;
}
.dishes_title span{
color: #d57E34;

}

.burgers{
display: flex;
justify-content: center;
}
.burgers_item{
display: flex;
align-items: center;
margin-bottom: 29px;
}
.burgers_images{
margin-right: 20px;

}

.burgers_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    margin-left: 20px;
}
.menu{
background-image: url(https://1.bp.blogspot.com/-yIsebwgUVmU/WgvoCO2clkI/AAAAAAAAG7s/ygDDbvDxN5QkGnHssoWw7xDWCaAZBbfZACLcBGAs/s1600/qTx2BQxf-2499-1665.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 100px;
}

.menu_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}
.menu_item{
background-color: #fff;
text-align: center;
width: 20%;
padding-top: 70px;
margin-left: 100px;
padding-bottom: 40px;

margin-right: 20px;
}
.menu_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}
.menu_subtext{
font-size: 16px;
}
.menu_btn{
background-color: #d67E34;
text-decoration: none;
padding: 14px 67px;
color: #fff;
font-size: 16px;
font-weight: 700;
box-shadow: 5px 5px 10px 8px #00000049;
}
.menu_buttom{
margin-top: 20px;
}
 .prise_image{
position: absolute;
bottom: -8px;
right: 22px;;
 }
 .menu_image{
position: relative;

 }

 .menu_img{
margin-left: 30px;
 }
 .prise420{
position: absolute;
bottom:15px;
right: 40px;
color: #fff;
font-size: 20px;

 }
.menu_items{
display: flex;
}

.comment{
background-color: #dfdede;
padding-top: 104px;
padding-bottom: 139px;

}

.comment_text{
text-align: center;
font-style: italic;
font-size: 20px;
margin-bottom: 20px;
}
.comment_img{
border-radius: 80px;
}
.comment_image{
text-align: center;
}
.comment_type{
font-weight: 600;
font-size: 20px;
text-align: center;
}
.comment_name{
padding-top: 9px;
font-size: 20px;
font-weight: 400;
text-align: center;
}

.gelery_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}
.gelery_title span{
color: #d57E34;
}
.gelery_content{
display: flex;
justify-content: center;
}
.gelery_left{
margin-right: 20px;
}
.gelery_down,
.gelery_up{
    display: flex;
    justify-content: space-between;
margin-bottom: 20px;
}
.cook{
padding-bottom: 100px;
}
.cook_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px ;
    margin-top: 100px;
}
.cook_title span{
    color: #d57E34;
}
.cook_content{
display: flex;
justify-content: space-around;
}
.footer{
background-color: black;
padding: 50px 0px;
color: #fff;
text-align: center;
}
.burger_menu{
display: none;
}

.block{
display: block;
}
.burger_slide{
position: absolute;

}
button{
border: none;
outline: none;
background-color: transparent;
}
.disp{
display: none;
}

@media(max-width:1300px){
.gelery_content{
display: block;
}
.img_gal,
.gelery_up,
.gelery_down {
display: block;
margin-left: auto;
margin-right: auto;
}

.img_gal{
margin-bottom: 20px;
}
.gelery_left{
margin-right: 0;
}
}

@media(max-width:1300px){
.menu_items{
display: block;
}
.menu_item{
margin: 20px auto;
width: 500px;
}


.header_title{
position: static;
}
 
.header_suptitle:before,
.header_suptitle:after{
content: none;
}



.cook_content{
display: block;

}
.cook_content img{
display: block;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
}

.block_holder{
display: block;
}

.left_title,
.left_text,
.right_bottom{
text-align: center;
}
.right_bottom{
    margin-top: 30px;
}

.history_images{
display: none;
}

.history_title,
.history_desc,
.history_number{
width: auto;
}

}

@media (max-width:1185px) {
    .burger_menu{
    display: block;
    } 

    .nav,
    .cart,
    .phone,
    .btn{
    display: none;
    }

    .header_line{
        justify-content: space-between;
    }

    .burgers_images{
        display: none;
    }
}
@media(max-width:1000px){

.card_holder{
    display: block;
}

.card{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
}

}
@media (max-width:780px){

.history_holder{
    display: block;
}

.menu_item{
width: auto;
}

.high{
display: none;
}
.container{
margin: auto 40px;
}

.number_item{
font-size: 23px;
}

}